custom/zsh

vim/backups
vim/view
*un~
vim/.netrwhist
vim/tmp
vim/spell
vim/after/.vimrc.after
vim/.neobundles.local
vim/.neobundles.local.bak
vim/bundle
vim/plugged
vim/sessions
.netrwhist
bin/subl
tags
init.vim
